.navbar{
    background-color: blueviolet;
}

#tabela{
    margin-top: 30px;
}

#menor{
    margin-top: 30px;
    font-size: 30px;
}

#contagem{
    font-size: 90px;
}

table {
    table-layout: fixed;
    width: 100%;
}
  
  th,td {
    width: 25%;
    overflow:auto;
}